---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ttl.example.com
  resources:
  - ttlresources
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ttl.example.com
  resources:
  - ttlresources/finalizers
  verbs:
  - update
- apiGroups:
  - ttl.example.com
  resources:
  - ttlresources/status
  verbs:
  - get
  - patch
  - update
