apiVersion: v1
kind: Service
metadata:
  name: test-service-sy
  annotations:
    ttl.example.com/ttl-seconds: "30"  # 30초 후 자동 삭제
spec:
  selector:
    app: nginx
  ports:
  - port: 80
    targetPort: 80

